
header {
  border: 2px solid black;
  background-color: darkcyan;
}
main {
  border: 2px solid black;
  background-color: salmon;
}
footer {
  border: 2px solid black;
  background-color: darkgoldenrod;
}
.links li {
  display: inline;
}
.links {
  display: flex;
  justify-content: space-between;
}
.main-parent section {
  border: 2px solid blue;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}
.main-parent section {
  display: inline;
}
#section {
  display: flex;
  justify-content: space-evenly;
}
.left-sidebar{
  background-color: olivedrab;
}
.main-content{
  background-color: deeppink;
}
.right-content {
  background-color: violet;
}