body {
  background-color: dimgrey;
}
.parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
header {
  background-color: darkgoldenrod;
}
nav {
  background-color: wheat;
}
main {
  background-color: wheat;
}
footer {
  background-color: wheat;
}
h2 {
  text-align: center;
  text-transform: capitalize;
}
.links li {
  display: inline;
  text-transform: uppercase;
  text-decoration: solid;
}
.links {
  display: flex;
  justify-content: space-between;
}

.main-parent section {
  display: flex;
  justify-content: center;
}

#section {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  border-radius: 5px;
}
img {
  width: 90%;
}
.main-content img {
  width: 120%;
}
.left-sidebar,
.right-content {
  flex-grow: 1;
}
.main-content {
  flex-grow: 2;
}
footer p {
  text-align: center;
  text-decoration: solid;
  text-transform: capitalize;
}
