header {
  border: 2px solid black;
  background-color: darkcyan;
}
main {
  border: 2px solid black;
  background-color: salmon;
}
footer {
  border: 2px solid black;
  background-color: darkgoldenrod;
}
.links li {
  display: inline;
}
.links {
  display: flex;
  justify-content: space-between;
}
.main-parent section {
  border: 2px solid blue;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}
.main-content {
  display: flex;
  flex-grow: 1;
}
#section {
  display: flex;
  justify-content: space-between;
}

.left-sidebar {
  background-color: goldenrod;
  flex-grow: 1;
}
.main-content {
  background-color: olivedrab ;
  flex-grow: 2;
}
.right-content {
  background-color: darkorange;
  flex-grow: 1;
}
.buttons button {
  border-radius: 5px;
}
